<head>
    <title>kivtechs.cloud</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords" content="Admin, Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    
    <!-- Favicon icon -->
    <link rel="icon" href="https://siddh-kivtechs.github.io/logo/logo.svg" type="image/svg+xml" sizes="16x16">
   <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="https://siddhbose-kivtechs.github.io/new_site_theme/components/bower_components\bootstrap\css\bootstrap.min.css">
       <link rel="stylesheet" type="text/css" href="https://siddhbose-kivtechs.github.io/new_site_theme/components/\bower_components\seiyria-bootstrap-slider\css\bootstrap-slider.css">
    <!-- radial chart.css -->
    <link rel="stylesheet" href="https://siddhbose-kivtechs.github.io/new_site_theme/components/assets\pages\chart\radial\css\radial.css" type="text/css" media="all">

        <link rel="stylesheet" type="text/css" href="https://siddhbose-kivtechs.github.io/new_site_theme/components/\assets\icon\themify-icons\themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="https://siddhbose-kivtechs.github.io/new_site_theme/components/\assets\icon\icofont\css\icofont.css">
        <link rel="stylesheet" type="text/css" href="https://siddhbose-kivtechs.github.io/new_site_theme/components/\assets\icon\themify-icons\themify-icons.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="https://siddhbose-kivtechs.github.io/new_site_theme/components/\assets\icon\font-awesome\css\font-awesome.min.css">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="https://siddhbose-kivtechs.github.io/new_site_theme/components/assets\icon\feather\css\feather.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="https://siddhbose-kivtechs.github.io/new_site_theme/components/assets\css\style.css">
    <link rel="stylesheet" type="text/css" href="https://siddhbose-kivtechs.github.io/new_site_theme/components/assets\css\jquery.mCustomScrollbar.css">

</head>
